---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="px-4 py-6 flex flex-1 justify-between">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="space-x-2">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
